services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: egirls-crypto-banhammer-telegram-bot
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    volumes:
      - ./logs:/usr/src/app/logs
